/*CSS styles*/

header{
    background-color: #333;
}

nav {
    display: block;
}

body{
    width: auto;
    height: 80vh;
    background-image: url('../image/landing.jpg');
    background-size: cover;


}

h1{
    color: whitesmoke;

}

footer{
    display: block;
    background-color: #333;
}