<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hikes - Hitch Hike</title>
    <link  href="../css/styles.css" rel="stylesheet" type="text/css">
    <!--<link  href="../css/reset.css" rel="stylesheet" type="text/css">-->

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Life+Savers" rel="stylesheet">
<body>
<div class="nav">
    <a href="../index.html">Home</a>
    <a href="#">Hikes</a>
</div>
<div class="header">
    <h1>Hitch Hike</h1>
    <p>Hikes Page</p>
</div>

<div class="content">
    <div class="landingImg">
        <div class="hikeBox" >
          <h1> Hikes I've been to</h1>
          <ul>
              <li>Snoqualmie Falls | Terrain: waterfall |  Distance: 1.4 miles, roundtrip </li>
              <li>Franklin Falls | Terrain: waterfall |  Distance: 2.0 miles, roundtrip </li>
              <li>Lewis River Falls | Terrain: waterfall |  Distance: 8.8 miles, roundtrip </li>
              <li>Rattlesnake Ledge | Terrain: mountain |  Distance: 5.0 miles, roundtrip </li>
              <li>Burroughs Mountain [Sunrise at Mt. Rainier] | Terrain: mountain |  Distance: 7.4 miles, roundtrip </li>
              <li>Fremont Lookout [Sunrise at Mt. Rainier] | Terrain: mountain |  Distance: 5.6 miles, roundtrip </li>
          </ul>
        </div>
    </div>
</div>
<div class="footer">
    <p>Made By Liz Mahoney | Copyright &#169; 2018</p>
</div>

<script src="js/app.js"></script>

</body>
</html>