<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hikes - Hitch Hike</title>
    <link  href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Life+Savers" rel="stylesheet">
<body>
<div class="nav">
    <a href="#">Home</a>
    <a href="#">Hikes</a>
</div>
<div class="header">
    <h1>Hitch Hike</h1>
    <p>Hikes Page</p>
</div>

<div class="content">
    <div class="landingImg">
        <div class="formBox" >
            <p> Hikes I've been to</p>
          <ul>
              <li> </li>
              <li> </li>
              <li> </li>
              <li> </li>
              <li> </li>
              <li> </li>
          </ul>
        </div>
    </div>
</div>
<div class="footer">
    <p>Made By Liz Mahoney | Copyright &#169; 2018</p>
</div>

<script src="js/app.js"></script>

</body>
</html>